autopep8==1.5.7
beautifulsoup4==4.9.3
bs4==0.0.1
canvas==0.3
certifi==2021.5.30
chardet==4.0.0
idna==2.10
Jinja2==3.0.1
MarkupSafe==2.0.1
pycodestyle==2.7.0
requests==2.25.1
selenium==3.141.0
soupsieve==2.2.1
toml==0.10.2
urllib3==1.26.4
